.overlay-container_all {
    background-image: url(/theme_academy/static/src/img/header_course_all.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    position: relative;
}

.overlay-container_all::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(32, 52, 73, 0.5);
}

.courses-banner__title-all {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 70pt;
    line-height: 77pt;
    color: #ffffff;
    position: relative;
    z-index: 2;
    font-weight: bold; //change 
}


//button styles "Go back to Main page" 
.dropdown-toggle-all {
    background-color: #101E2D;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 16px;
    line-height: 1;
    padding: 8px 16px;
    font-weight: bold;
    margin-left: 120px;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-toggle-all:hover{
    background-color: #101E2D;
    color: #03c4ff;
}

.button-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400; 
    font-size: 12pt; 
    line-height: 14pt; 
    padding-left: 5px; 
}


.button_return:hover{
    background-color: #101E2D;
    color: #03c4ff;    
}



//Search bar
.courses-search-navbar-all__link {
    background-color: #101E2D;
    margin-right: 695px; //Screen right 
}

//Style the search bar
.courses-search-navbar-all {
    input {
    background-color: #ffffff !important; 
    color: #101E2D;
    border: 1px solid #d3d3c4;
    padding: 8px;
    //border-radius: 8px 0 0 8px;
    width: 200px !important;
    box-shadow: none;
    }

    //button lupa
    button {
    background-color: #03c4ff !important;
    color: #ffffff;
    border-radius: 0 8px 8px 0;
    border: none;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    input::placeholder {
    color: #4e5154;
    }
}


//This make to center courses
.courses-list{
    justify-content: center;
    margin-bottom: 200px;
    gap: 50px;
}

//this put the width in the courses
.course-card-container {
    max-width: 380px;
    margin-bottom: 70px;
}

//container to header
.courses-banner__titles-container-all {
    margin-left: 20px;
    max-width: 730px;
    padding: 10px;
}


//container to search-bar and button "Go back"
.courses-search-navbar-all {
    background-color: #101E2D !important;
    width: 100%;
    max-width: 100%;
}


@media (max-width: 1400px) {
    .courses-banner__titles-container {
        max-width: 540px;
    }
}

@media (max-width: 1200px) {
    .courses-banner__titles-container {
        max-width: 445px;
    }
}

@media (max-width: 1000px) {
    .courses-banner__titles-container-all {
        max-width: 310px;
    }
}

@media (max-width: 770px) {
    .courses-banner__titles-container-all {
        max-width: 340px;
    }

    .courses-banner__title-all {
        font-size: 32px;
    }
}

// Style for button level (This is commented)
/* .dropdown-item:hover {
    color: #fcf9f9;
    background-color: transparent;
} */

/* .dropdown-item {
    font-size: 14px;
} */

/* #dropdownLevel i {
    margin-left: 8px; 
} */

/* .dropdown-menu {
    background-color: #ffffff;
} */