
.footer-container{
  background: #202529;
  font-weight: 600;
  a {
    color: #fff;
    font-size: 1rem;
  }
}

.footer-logo {
  width: 100px;
  margin-top: 20px;
  margin-right: 10px;
}

.footer-col {
  h5 {
    color: #b1bbbd;
    font-weight: bolder;
  }
  i {
    color: #fff;
    font-size: 28px;
  }
}