
.footer-container{
  background: #202529;
  font-weight: 600;
  a {
    color: #fff;
    font-size: 0.75rem;
  }
}

.footer-logo {
  width: 13.2rem;
  height: 3rem;
  margin-top: 1rem;
  margin-right: 0.625rem;
}

.footer-col {
  h4 {
    color: #b1bbbd;
    font-weight: bolder;
  }
  i {
    color: #fff;
    font-size: 1.4rem;
  }
}