.center_subtitle_welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.big_button_login_signup {
    background-color: #03c4ff !important;
    color: white !important;
    font-size: 20px !important;
    max-width: 300px;
}


.add_background_logo_signup {
    background-image: url('../img/Academy_login.svg'), linear-gradient(#203449, #203449);
    background-size: auto 100%, 100% 100%;
    background-repeat: no-repeat;
    background-position: left top, right;
    background-blend-mode: normal;
    max-width: 50vw, 100vw;
    overflow: hidden;
    margin-left: -20px;
    padding-left: 20px;
}

.white_subtitle {
    color: white;
    font-size: 40px;
}
.white_text {
    color: white !important;
}

.form-text {
    font-size: 15px;
}



.column-display {
    float: left;
    width: 50%;
    padding: 50px;
}

.row-content {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}


@media (max-width: 800px) {
    .column-display {
        width: 100%;
    }
  }