/* Content */

/* Banner */

.overlay-container {
  background-color: (0, 0, 0, 0); // transparent
  background-image: url(/theme_academy/static/src/img/homepage_background.jpg); 
  background-size: cover; 
  background-position: 55% 65%;
}

.overlay-container::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute; /* Positioning it absolutely within the container */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(32, 52, 73, 0.6);; /* Blue color with 60% opacity */
  z-index: 0; /* Places the overlay above the background image */
}

.courses-banner__title {
  color: #03C4FF;
  font-size: 80px;
  font-weight: 700;
}

.courses-banner {
  height: 300px;
}

.courses-banner__titles-container {
  margin-left: 20px; /* Add margin to the left */
  max-width: 730px; /* Set a maximum width for the text container */
  padding: 10px; /* Optional: Add padding inside the text container */
}

.courses-banner__subtitle {
  color: white;
  font-size: 16px;
  padding: 40px 0 0 0;
}

/* Search Bar */

.courses-search-navbar__search-bar {
  background-color: white;
  color: black;
}

.courses-search-navbar__search-button {
  background-color: #03C4FF;
}

.courses-search-navbar {
  background-color: #202529 !important;
}

.courses-search-navbar__link {
  color: #ffffff !important;
}

/* Courses section */

.course-card--new {
  border-radius: 25px;
}

@media (max-width: 1400px) {
  /* Content */
  /* Top section */
  .courses-banner__titles-container {
    max-width: 540px;
  }
}

@media (max-width: 1200px) {
  /* Content */
  /* Banner */
  .courses-banner__titles-container {
    max-width: 445px;
  }
}

@media (max-width: 1000px) {
  /* Content */
  /* Banner */
  .courses-banner__titles-container {
    max-width: 310px;
  }

  .courses-banner {
    height: 300px;
  }
}

@media (max-width: 770px) {
  /* Content */
  /* Banner */
  .courses-banner__titles-container {
    max-width: 340px;
  }

  .courses-banner__title {
    font-size: 32px;
  }

  .courses-banner {
    height: 300px;
  }
}

