.hero-content {

}

.hero-title {
    font-size: 40px;
}
.hero-separator {
    width: 320px;
    background: linear-gradient(180deg,#6e309e 10%,#6e309e 20%,#43c2ff 0,#43c2ff 40%,#21267f 0,#21267f 60%,#6e309e 0,#6e309e 70%,#b3de2f 0,#b3de2f 73%,#8e73c1 0,#8e73c1 76%,#43c2ff 0,#43c2ff);
    height: auto;
    clip-path: polygon(70% 0,80% 0,10% 100%,0 100%);
}
.hero-ilustration {
    left: 35%;
    right: 0;
    z-index: -1;
    height: 100%;
}