.hero-section {
    background-color: rgba(32, 37, 41, 1);
    background-size: cover;
    background-position: 55% 65%;
    display: flex;
    z-index: 0;
    display: flex;
}

.hero-content {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    position: static;
    width: 100%;
}

.hero-text {
    max-width: 800px;
    margin-left: 0;
    margin-right: 0;
    height: 500px;
    background-color: #202529;
    display: flex;
    position: relative;
    z-index: 10;
    clip-path: polygon(0 0,90% 0,62% 100%,0 100%);
    padding: 0;
}
@include media-breakpoint-down(xl) {
    .hero-text {
        max-width: 700px;
        clip-path: polygon(0 0,93% 0,65% 100%,0 100%);
    }
    .hero-title-body {
        width: unset;
        margin-bottom: 6rem;
        margin-left: 3rem;
        margin-top: 3rem;
    }
}

@include media-breakpoint-down(md) {
    .hero-text {
        max-width: 500px;
        height: unset;
    }
    .hero-title-body {
        width: unset;
        margin-bottom: 6rem;
        margin-left: 3rem;
        margin-top: 3rem;
    }
    .hero-title {
        font-size: 1.55rem;
    }

    .hero-subtitle {
        font-size: 0.75rem;
    }
}

@include media-breakpoint-up(md) {
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-subtitle {
        font-size: 1.1rem;
    }
}
.hero-title-body {
    width: 478px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-separator {
    width: 320px;
    background: linear-gradient(180deg,#6e309e 10%,#6e309e 20%,#43c2ff 0,#43c2ff 40%,#21267f 0,#21267f 60%,#6e309e 0,#6e309e 70%,#b3de2f 0,#b3de2f 73%,#8e73c1 0,#8e73c1 76%,#43c2ff 0,#43c2ff);
    height: auto;
    clip-path: polygon(70% 0,80% 0,10% 100%,0 100%);
}
.hero-ilustration {
    left: 35%;
    right: 0;
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 0;
}

.hero-ilustration-img {
    height: 100%;
    width: 100%;
    position: absolute;
}
