.watchNow-btn {
  width: 90%;
  color: white !important;
}

.tag {
  display: inline-block;
  padding: 0.7em 0.5em;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}


.tagRow {
  display: flex;
  flex-direction: row;
  gap: 5rem
}

.card-custom {
  width: 100%;
  @include media-breakpoint-up(md) {
    width: 80%;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

body .row.gx-10 {
  --bs-gutter-x: 10rem !important;
}

.tag-title {
  label {
    color: #43c2ff;
    font-weight: 700;
    margin-bottom: 0.2rem;
  }

  a {
    color: #202529;
  }
}